body {
	background: maroon;
	}
h1 {
	margin:auto;
	}
#menu{
	margin-top: 40px;
	padding: 24px;
	text-align: center;
	font-family: Raleway;
	box-shadow: 2px 2px 8px rgba(0,0,0,0.5);
	background-image: url('assets/images/stonetexture.png');
	color:#BEC991;
	font-size:20px;
	text-decoration:none;
	padding: 0 10px;
	margin: 0 10px;
		}
#menu li{
	display:inline;
	padding:20px;
	color: #BEC991
	}
#menu li:hover {
	color:teal;
	background-color:#B7641F;
	}	 
div {
	border-raidus: 25px;
	color: #BEC991
	}
.content {
	margin: auto;
	width: 40%;
	padding: 5px;
	border:5px;
	border-radius: 20px;
	background-color: teal;
}
h1 {
	text-align: center;
	padding-right: 300px;
	color:#005D5E
	}
.description {
	text-align: center;
	color: #BEC991;
	}